/*@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,700&display=swap');
*/

@import url('https://fonts.googleapis.com/css?family=Esteban&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Esteban, sans-serif;
  color: black;
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300))); /*Formula credit: Mike Riethmuller*/
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); /*Website Reference: https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/*/
}

body {
  background-color: white;
  margin: 0.5% 2.5%;
  border: 15px solid white;
}


a {
  text-decoration: none;
  color: coral;

}

a:hover {
  background-color: coral;
  color: white;
  opacity: 0.8;
  transition: 0.8s;

}


.poem
{
  margin: 1.5% 1.5%;
  padding: 5% 2.5%;
  border: 10px solid coral;
}


.fas {
  color: purple;
}

@media only screen and (min-width: 1100px) {


  .left {

    text-align: left;
    padding-left: 15%;

  }

  .right {

    text-align: left;
    padding-left: 25%;

  }

  .col2{
    column-count: 2;
  }

}
